/* nombre etiqueta {
    propiedad: valor;
    propiedad: valor;
    propiedad: valor;
} */

/* .+class {
    propiedad: valor;
    propiedad: valor;
    propiedad: valor;
}  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
p {
    font-size: large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(205, 250, 235);
}

header {
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
    background-color: rgb(209, 252, 245);
    width: 99vw;
    overflow: auto;
    margin-bottom: 10px;
} 

header .Title {
    font-size: 18px;
    font-weight: bold;
    color: orangered;
    margin-left: 5px;
    text-align: left;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.Botones ul li {
    list-style: none;
    display: inline-block;  
} 

.Botones ul a {
    text-decoration: none;
    color: black;
    background-color: transparent;
    padding: 10px 15px;
    margin: 2px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

ul a:hover {
    background-color: orangered;
    border-radius: 50px;
}

.Visual  {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: rgb(0, 0, 90);
    border: solid 1px black;
    margin-top: -10px;
    margin-bottom: 25px;
    height: 30vh;
}

.Box{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}

.Prestt {
    font-weight: bold;
    display: flex;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 30px;
}

.Page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Table {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: khaki;
    width: 60%;
    margin-top: 50px;
    padding: 10px;
    box-shadow: 4px 3px 5px 3px rgba(8, 8, 8, 0.5);
}

.Table th {
    font-weight: bolder;
    border: solid 2px rgb(233, 29, 29);
    padding: 10px;
}

.Table td {
    border: solid 1px black;
    padding: 10px;
}

.Table tr:hover {
    background-color: darkkhaki;
    transform: scale(1.1);
}

.Pret {
    font-size: 25px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 15px;
}

.Lists {
    display: flex;
    width: 50%;
    justify-content: space-around;
    
}

.Box1 li {
list-style-type:square;
}

.Box1, .Box2, .Box3 {
    text-align: center;
    margin: 25px;
    margin-top: -5px;
    background-color: cornflowerblue;
    box-shadow: 4px 3px 5px 3px rgba(8, 8, 8, 0.5);
}
 

.Box2 {
    list-style: disc;
    list-style-type: disc;
}

.Label {
    font-size: 25px;
}

.Schedule {
    font-size: 30px;
}

.Box3 {
    font-size: large;
    text-align: center;
    width: 75%;
    border: solid 3px black;
    margin-top: 20px;
}

.Box3 dt {
    font-weight: bold;
    padding: 5px;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
}

.Box4 {
    text-align: center;
    margin: 25px;
    margin-bottom: 50px;
}

.Inscpt {
    font-size: 22px;
    justify-content: center;
    text-shadow: 1px 1px 1px rgba(252, 248, 5, 1);;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.Box4 button {
    width: 200px;
    height: 75px;
    border: solid 1.5px black;
    background-color: rgb(72, 75, 235);
    box-shadow: 3px 3px 3px 3px rgba(32, 32, 32, 0.8);
}

.Foot {
    font-size: 18px;
    height: 50px;
    background-color: rgb(199, 191, 191);
    color: orangered;
    padding-right: 10px;
    text-align: right;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}